numpy==1.23.0
scipy==1.13.1
torch==2.2.2
diffusers==0.18.0
transformers==4.46.3
opencv-python==4.9.0.80
opencv-contrib-python==4.7.0.72
inflect==6.0.4
easydict==1.13
accelerate==0.29.1
gradio==3.35.2
pydantic==1.10.7
huggingface-hub==0.23.2
openai==1.64.0
invisible-watermark==0.2.0